.medadv{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
    position: relative;
}
.medadv-tit{
    font-size: 40px;
    font-weight: bolder;
    color: var(--darkgreen);
    position: relative;
}
.med-cont{
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}
.med-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.med-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--darkgreen);
    color: white;
}
.med-name{
    font-size: 25px;
    font-weight: bold;
}
.skw-20{
   position: absolute;
   top: 0;
   left: 200px;
   width: 150px;
   height: 500px;
   transform: skew(30deg);
   background-image: linear-gradient(180deg , var(--darkgreen), white); 
}
.skw-21{
   position: absolute;
   top: 100px;
   left: 300px;
   width: 150px;
   height: 400px;
   transform: skew(30deg);
   background-image: linear-gradient(180deg , var(--trq), white); 
}
.skw-22{
   position: absolute;
   top: 250px;
   left: 230px;
   width: 100px;
   height: 300px;
   transform: skew(30deg);
   background-image: linear-gradient(180deg , var(--black), white); 
}